USE [master]
GO
/****** Object:  Database [itsolutions2005]    Script Date: 2/4/2026 7:59:16 AM ******/
CREATE DATABASE [itsolutions2005]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'itsolutions2005', FILENAME = N'c:\databases\itsolutions2005\itsolutions2005.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'itsolutions2005_log', FILENAME = N'c:\databases\itsolutions2005\itsolutions2005_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [itsolutions2005].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [itsolutions2005]
GO
/****** Object:  Table [dbo].[students]    Script Date: 2/4/2026 7:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (1, N'Nguyễn Văn A', 20, N'a@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (2, N'Trần Thị B', 21, N'b@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (3, N'Lê Văn C', 19, N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
